{% extends "layout.html" %}
{% block title %}Home{% endblock %}

{% block content %}

<script>
  var data_sections = {{ sections_scores|safe }};
  var data_dates = {{ dates_scores|safe }};
</script>

<script data-require="d3@3.5.3" data-semver="3.5.3" src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.js"></script>

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron custom-header-home">
    <div class="container">
      <h1 class="display-3">Le Monde Covid</h1>
      <p>Analyses d'articles traitant du Covid-19 dans l'édition en ligne du journal Le Monde</p>
      <p><a class="btn btn-primary" href="{{ url_for('main.modeling') }}" role="button">Topic Modeling</a></p>
    </div>
  </div>

  <div class="container">

    <!-- linechart -->
    <section class="row" id="home-line-chart">
        <div id="line-chart"></div>
    </section>
    <hr>
    <!-- Example row of columns -->
    <section class="row">
      <div class="col-md-4">
        <h2>Topic modeling</h2>
        <p>En NLP - traitement automatique du langage naturel -, un topic model (ou modèle thématique) est un modèle probabiliste permettant de déterminer des sujets ou thèmes abstraits dans un document textuel.</p>
      </div>
      <div class="col-md-4">
        <h2>Analyse</h2>
        <p>Latent Dirichlet Allocation (LDA) & Negative Matrix Factorisation (NMF) sont des algorithmes d'intelligence artificielle qui rendent possible la modélisation automatique de sujet en retournant des séries de topics et mots-clés.</p>
      </div>
      <div class="col-md-4">
        <h2>Projet</h2>
        <p>Cette application analyse un corpus de plus de 10500 articles du journal Le Monde - relatifs au "Covid" et publiés en 2020 - en extrayant des modèles thématiques, puis en proposant une recherche par mots-clés.</p>
      </div>
    </section>
    <hr>
    <!-- piechart -->
    <section>
      <h5>Publications par sections</h5>
      <div id="pie-chart"></div>
    </section>

  </div> <!-- /container -->
  
      <!-- Include our script that will make our bar chart. -->
      <script type="text/javascript" src="{{ url_for('static', filename='js/chart.js') }}"></script>
      <script type="text/javascript" src="{{ url_for('static', filename='js/pie_chart.js') }}"></script>

{% endblock %}