{% extends "layout.html" %}
{% block title %}LDA{% endblock %}

{% block content %}

<!-- <script>
  var data_sections = {{ sections_scores|safe }};
  var data_dates = {{ dates_scores|safe }};
</script> -->

<!-- <script data-require="d3@3.5.3" data-semver="3.5.3" src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.js"></script> -->

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron custom-header">
    <div class="container">
      <h1>Documents</h1>
    </div>
  </div>

<div class="container-fluid">
  <main role="main" class="container">

    <div class="row">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <h6>Rapport E1</h6>
          <p><a href="{{ url_for('static', filename='documents/LABASTIE_Francois_E1.pdf') }}">Analyse de documents textuels grâce à l’intelligence artificielle - Topic modeling -</a></p>
        </li>
        <li class="list-group-item">          
          <h6>Rapport E2</h6>
          <p><a href="{{ url_for('static', filename='documents/LABASTIE_Francois_E2.pdf') }}">Améliorer une application de modération de texte grâce à l’intelligence artificielle</a></p>
        </li>
        <li class="list-group-item">
          <h6>Rapport E3</a></h6>
          <p><a href="{{ url_for('static', filename='documents/LABASTIE_Francois_E3.pdf') }}">Comptage d’un groupe de personnes grâce à l’intelligence artificielle</a></p>
        </li>
      </ul>
    </div>

    <!-- <section> -->
      <!-- linechart -->
      <!-- <div>
        <h5>Fréquences de publications</h5>
        <div id="line-chart"></div>
      </div> -->
      <!-- piechart -->
      <!-- <div>
        <h5>Publications par sections</h5>
        <div id="pie-chart"></div>
      </div> -->
      <!-- table -->
      <!-- <div>
        <h5>Nombres de documents par sections</h5>
        <table class="table table-striped table-sm table-exploration">
          <thead>
            <tr>
              <th>#</th>
              <th>Sections</th>
              <th>Documents</th>
              <th>%</th>
            </tr>
          </thead>
          <tbody>
              {% for item in sections_scores %}
              <tr>
                <td>{{loop.index}}</td>
                <td>{{item['section']}}</td>
                <td>{{item['score']}}</td>
                <td>{{item['percent']}}</td>
              </tr>
              {% endfor %}
          </tbody>
        </table>
      </div>
    </section> -->
    
        <!-- Include our script that will make our bar chart. -->
        <!-- <script type="text/javascript" src="{{ url_for('static', filename='js/chart.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/pie_chart.js') }}"></script> -->
  </main>
</div>

{% endblock %}
