{% extends "layout.html" %}
{% block title %}LDA{% endblock %}

{% block content %}



<script>
  var data_sections = {{ sections_scores|safe }};
  var data_dates = {{ dates_scores|safe }};
</script>

<script data-require="d3@3.5.3" data-semver="3.5.3" src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.js"></script>

<div class="container-fluid">
  <main role="main" class="container">

    <!-- jumbotron -->
    <div class="jumbotron">
      <div class="row">
        <div class="col-md-9">
          <h3>Publications en 2020</h3>
        </div>
      </div>
    </div>
    <!-- end of jumbotron -->

    <div class="row">
      <div class="col-md-6">
        <p>Ce projet a pour objectif de développer une application permettant l’analyse automatique d’articles de presse traitant du Covid-19 dans la version numérique du média Le Monde​1.​ Les documents journalistiques sont publiés par sections ou rubriques selon leurs thèmes. Et selon l’évolution de l’actualité, un même sujet peut être publié dans des rubriques différentes. A partir de janvier 2020, les premiers articles sur le Covid-19 ont généralement été diffusés dans les rubriques “international” et “sciences” - pour la majorité des médias - pour ensuite occuper une place importante dans la section "économie", puis “politique” au fur et à mesure de l’évolution de la pandémie. Aussi, des changements d’expressions ou de termes sont observés: Par exemple, en fin d’année 2020, certains articles traitant du “reconfinement” ne mentionnent parfois même plus le terme “Covid”.</p>
        <p>A partir d’un corpus de plus de 10500 articles du journal Le Monde, ce projet propose d’analyser de manière automatique ces données, en extrayant les thèmes - topics - possibles. Les articles sont caractérisés par leurs titres, section de publication, dates, etc. Mais l’analyse que nous proposons s’intéresse en particulier au contenu pour en extraire les topics afin de remonter les idées principales et étudier leurs fréquences. Nous emploierons ainsi une technique d’intelligence artificielle telle que le “topic modeling” et pourrons également comparer certains éléments statistiques de l’ensemble global des documents.,/p>
        <p>Les données du projet ont été recueillies de manière illégale, par la technique du scraping. Le Monde n’a pas donné suite à nos requêtes pour ce projet d’étude, ni même d’autres médias tels que l’AFP (qui propose pourtant une API gratuite pour trois mois de tests). Cette démarche illégale n’est donc pas à divulguer mais nous l’assumons dans une démarche non commerciale, comme compétence en data sciences.</p>
      </div>
    </div>

    <section>
      <!-- linechart -->
      <div>
        <h5>Fréquences de publications</h5>
        <div id="line-chart"></div>
      </div>
      <!-- piechart -->
      <div>
        <h5>Publications par sections</h5>
        <div id="pie-chart"></div>
      </div>
      <!-- table -->
      <div>
        <h5>Nombres de documents par sections</h5>
        <table class="table table-striped table-sm table-exploration">
          <thead>
            <tr>
              <th>#</th>
              <th>Sections</th>
              <th>Documents</th>
              <th>%</th>
            </tr>
          </thead>
          <tbody>
              {% for item in sections_scores %}
              <tr>
                <td>{{loop.index}}</td>
                <td>{{item['section']}}</td>
                <td>{{item['score']}}</td>
                <td>{{item['percent']}}</td>
              </tr>
              {% endfor %}
          </tbody>
        </table>
      </div>
    </section>
    
        <!-- Include our script that will make our bar chart. -->
        <script type="text/javascript" src="{{ url_for('static', filename='js/chart.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/pie_chart.js') }}"></script>
  </main>
</div>

{% endblock %}
